.box {
    width: 200px;
    height: 250px;
    background-color: red;
}

.result {
    width: 400px;
    height: 500px;
    margin:  0 auto;
    background-color: greenyellow;
    border-radius: 10px;
    text-align: center;
}

.about {
    width: 500px;
    height: 300px;
    background-color: red;
}